<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RFile" fileName="logs/output.log" append="false" 
                     filePattern="logs/output.log.backup">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36}:%L - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <!--<TimeBasedTriggeringPolicy />-->
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="RFile"/>
        </Root>
    </Loggers>
</Configuration>
