<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%-5p]: %m%n"/>
        </layout>
    </appender>

    <appender name="MAIN" class="ru.nlmk_it.oracledatabase2file.logutils.NewLogForEachRunFileAppender">
        <param name="File" value="logs/output.log"/>
        <!--<param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm'.log'"/> -->
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss.SSS} [%-5p]:  %F: %M: %L:    %m%n" />
        </layout>
    </appender>

    <logger name="ru.nlmk_it.oracledatabase2file">
        <level value="TRACE"/>
        <appender-ref ref="MAIN"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>